#title{
    margin-top: 20px;
    text-align: center;
}

#gabycounter{
    margin-left: 27%;
    margin-bottom: 30px;
    margin-top: 10px;
}

#imgGaby{
    margin-left: 30%;
    width: 40%;
    align-content: center;
}


#imgGaby.clicked {
    animation: click-animation 0.1s ease-in-out;
}
@keyframes click-animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}



#farmZone{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.click-zone{
    height: 1024px;
    overflow: visible;
    cursor: url("../img/cursor.png"), auto;

}

.purchase{
    margin: 10px;
}

.gabybtn {
    cursor: pointer;
    transition: all 0.3s ease-in-out !important;
}

.gabybtn:active {
    transform: scale(0.9) !important;
}